{
  "swagger": "2.0",
  "info": {
    "version": "V1",
    "title": "Loymax.SystemApi",
    "description": "Loymax version: 2020.1.1.55071",
    "x-swagger-net-version": "8.3.23.1103"
  },
  "host": "sparmv-stg.loymax.tech",
  "basePath": "/systemapi",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/Users/{personId}/Accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Получить информацию о счетах клиента.",
        "operationId": "Account_GetAccountModels",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "description": "Идентификатор клиента.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfListOfAccountViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardRead"
        ]
      }
    },
    "/api/Anketa/Questions": {
      "get": {
        "tags": [
          "Anketa"
        ],
        "summary": "Получить список вопросов анкеты.",
        "operationId": "Anketa_GetQuestions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfListOfAnketaQuestionViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ]
      }
    },
    "/api/Announcements": {
      "get": {
        "tags": [
          "Announcement"
        ],
        "summary": "Возвращает список всех реклам для рекламного места.",
        "operationId": "Announcement_GetAnnouncements",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "С какой рекламы.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Сколько.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "name": "filter.titleSubstr",
            "in": "query",
            "description": "Подстрока для поиска по названию рекламы.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.spaceName",
            "in": "query",
            "description": "Подстрока для поиска по названию рекламного места.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.state",
            "in": "query",
            "description": "Gets or sets the state.",
            "required": false,
            "type": "string",
            "enum": [
              "Draft",
              "Ready",
              "Published"
            ],
            "x-loymax-type": "Loymax.Business.Announcement.Model.AnnouncementState, Loymax.Business.Announcement.Model",
            "x-loymax-enum-type": "AnnouncementState"
          },
          {
            "name": "filter.dateFrom",
            "in": "query",
            "description": "Начальная дата выборки.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.dateTo",
            "in": "query",
            "description": "Конечная дата выборки.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.archivedState",
            "in": "query",
            "description": "Сущности из архива.",
            "required": false,
            "type": "string",
            "enum": [
              "Archived",
              "NonArchived"
            ],
            "x-loymax-type": "Loymax.Common.Model.ArchivedState, Loymax.Common",
            "x-loymax-enum-type": "ArchivedState"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfPagedViewModelOfSystemApiAnnouncementModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementsView"
        ]
      },
      "put": {
        "tags": [
          "Announcement"
        ],
        "summary": "Создать рекламу.",
        "operationId": "Announcement_CreateAnnouncement",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Модель рекламы.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SystemApiAnnouncementModel"
            }
          },
          {
            "name": "timeZone",
            "in": "header",
            "description": "Временная зона.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementsManage"
        ]
      }
    },
    "/api/Announcements/{id}": {
      "get": {
        "tags": [
          "Announcement"
        ],
        "summary": "Возвращает рекламу по идентификатору.",
        "operationId": "Announcement_GetAnnouncement",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfSystemApiAnnouncementModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementsView"
        ]
      },
      "post": {
        "tags": [
          "Announcement"
        ],
        "summary": "Обновить рекламу.",
        "operationId": "Announcement_UpdateAnnouncement",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор рекламы.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "description": "Модель рекламы.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SystemApiAnnouncementModel"
            }
          },
          {
            "name": "timeZone",
            "in": "header",
            "description": "Временная зона.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementsManage"
        ]
      },
      "delete": {
        "tags": [
          "Announcement"
        ],
        "summary": "Удалить рекламу.",
        "operationId": "Announcement_DeleteAnnouncement",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementsManage"
        ]
      }
    },
    "/api/Announcements/{id}/complete": {
      "post": {
        "tags": [
          "Announcement"
        ],
        "summary": "Завершить создание рекламы.",
        "operationId": "Announcement_CompleteAnnouncement",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementsManage"
        ]
      }
    },
    "/api/Announcements/{id}/publish": {
      "post": {
        "tags": [
          "Announcement"
        ],
        "summary": "Опубликовать рекламу.",
        "operationId": "Announcement_PublishAnnouncement",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementsPublish"
        ]
      }
    },
    "/api/Announcements/{id}/archive": {
      "post": {
        "tags": [
          "Announcement"
        ],
        "summary": "Отправить рекламу в архив.",
        "operationId": "Announcement_ArchiveAnnouncement",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementsManage"
        ]
      }
    },
    "/api/Announcements/{id}/restore": {
      "post": {
        "tags": [
          "Announcement"
        ],
        "summary": "Восстановить рекламу из архива.",
        "operationId": "Announcement_RestoreAnnouncement",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementsManage"
        ]
      }
    },
    "/api/AnnouncementAttribute": {
      "get": {
        "tags": [
          "AnnouncementAttribute"
        ],
        "summary": "Получить все атрибуты.",
        "operationId": "AnnouncementAttribute_GetAll",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfListOfAttributeModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementSpacesView",
          "AnnouncementsView"
        ]
      },
      "put": {
        "tags": [
          "AnnouncementAttribute"
        ],
        "summary": "Создать атрибут.",
        "operationId": "AnnouncementAttribute_CreateAttribute",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "attribute",
            "in": "body",
            "description": "Модель атрибута.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AttributeModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResultModelOfInt32"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementSpacesManage"
        ]
      }
    },
    "/api/AnnouncementAttribute/{id}": {
      "get": {
        "tags": [
          "AnnouncementAttribute"
        ],
        "summary": "Получить атрибут по Id.",
        "operationId": "AnnouncementAttribute_GetAttribute",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id атрибута.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfAttributeModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementSpacesView",
          "AnnouncementsView"
        ]
      },
      "post": {
        "tags": [
          "AnnouncementAttribute"
        ],
        "summary": "Обновить атрибут.",
        "operationId": "AnnouncementAttribute_UpdateAttribute",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id атрибута.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "attribute",
            "in": "body",
            "description": "Модель атрибута.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AttributeModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementSpacesManage"
        ]
      },
      "delete": {
        "tags": [
          "AnnouncementAttribute"
        ],
        "summary": "Удалить атрибут.",
        "operationId": "AnnouncementAttribute_DeleteAttribute",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id атрибута.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementSpacesManage"
        ]
      }
    },
    "/api/AnnouncementAttribute/availableMapping": {
      "get": {
        "tags": [
          "AnnouncementAttribute"
        ],
        "summary": "The get available mappings.",
        "operationId": "AnnouncementAttribute_GetAvailableMappings",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "attributeType",
            "in": "query",
            "description": "The attribute type.",
            "required": true,
            "type": "string",
            "enum": [
              "String",
              "Boolean",
              "Numeric",
              "DateTime",
              "Image",
              "Video",
              "Html",
              "Dictionary",
              "Mechant"
            ],
            "x-loymax-type": "Loymax.Business.Announcement.Model.AttributeType, Loymax.Business.Announcement",
            "x-loymax-enum-type": "AttributeType"
          },
          {
            "name": "relatedAnnouncementType",
            "in": "query",
            "description": "The related announcement type.",
            "required": true,
            "type": "string",
            "enum": [
              "Offer"
            ],
            "x-loymax-type": "Loymax.Business.Announcement.Model.RelatedAnnouncementType, Loymax.Business.Announcement.Model",
            "x-loymax-enum-type": "RelatedAnnouncementType"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfRelatedEntityPropertyModel[]"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementSpacesView"
        ]
      }
    },
    "/api/AnnouncementSpace": {
      "get": {
        "tags": [
          "AnnouncementSpace"
        ],
        "summary": "Получить все рекламные места.",
        "operationId": "AnnouncementSpace_GetAll",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfListOfSpaceModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementSpacesView",
          "AnnouncementsView"
        ]
      },
      "put": {
        "tags": [
          "AnnouncementSpace"
        ],
        "summary": "The create space.",
        "operationId": "AnnouncementSpace_CreateSpace",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "space",
            "in": "body",
            "description": "The space.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SpaceModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResultModelOfInt32"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementSpacesManage"
        ]
      }
    },
    "/api/AnnouncementSpace/{id}/attributes": {
      "get": {
        "tags": [
          "AnnouncementSpace"
        ],
        "summary": "Получить все атрибуты конкретного рекламного места.",
        "operationId": "AnnouncementSpace_GetBySpace",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfListOfAttributeModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementSpacesView",
          "AnnouncementsView"
        ]
      }
    },
    "/api/AnnouncementSpace/{id}": {
      "get": {
        "tags": [
          "AnnouncementSpace"
        ],
        "summary": "Получить рекламное место по id.",
        "operationId": "AnnouncementSpace_GetSpace",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id рекламного места.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfSpaceModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementSpacesView"
        ]
      },
      "post": {
        "tags": [
          "AnnouncementSpace"
        ],
        "summary": "The update space.",
        "operationId": "AnnouncementSpace_UpdateSpace",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "space",
            "in": "body",
            "description": "The space.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SpaceModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementSpacesManage"
        ]
      },
      "delete": {
        "tags": [
          "AnnouncementSpace"
        ],
        "summary": "The delete space.",
        "operationId": "AnnouncementSpace_DeleteSpace",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "AnnouncementSpacesManage"
        ]
      }
    },
    "/api/OAuth/Applications": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Получает список приложений.",
        "operationId": "Application_GetFilteredPagedList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "filter.from",
            "in": "query",
            "description": "Начало выборки.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.count",
            "in": "query",
            "description": "Количество.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.mode",
            "in": "query",
            "description": "Режим выбора архивных объектов.",
            "required": false,
            "type": "string",
            "enum": [
              "Archived",
              "NonArchived"
            ],
            "x-loymax-type": "Loymax.Common.Model.ArchivedState, Loymax.Common",
            "x-loymax-enum-type": "ArchivedState"
          },
          {
            "name": "filter.isOrderedByAscending",
            "in": "query",
            "description": "Режим прямой сортировки.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filter.partnerIds",
            "in": "query",
            "description": "Id партнеров.",
            "required": false,
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfPagedViewModelOfApplicationModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "OAuthApplicationView"
        ]
      },
      "put": {
        "tags": [
          "Application"
        ],
        "summary": "Создание нового приложения.",
        "operationId": "Application_Create",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Модель для создания приложения.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateApplicationModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResultModelOfApplicationModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "OAuthApplicationManage"
        ]
      }
    },
    "/api/OAuth/Applications/{id}": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Получает приложение по идентификатору.",
        "operationId": "Application_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор приложения.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfApplicationModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "OAuthApplicationView"
        ]
      },
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Редактирование приложения.",
        "operationId": "Application_Edit",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор приложения.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "description": "Модель для изменения приложения.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "OAuthApplicationManage"
        ]
      },
      "delete": {
        "tags": [
          "Application"
        ],
        "summary": "Удаление приложения.",
        "operationId": "Application_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор приложения.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "OAuthApplicationManage"
        ]
      }
    },
    "/api/OAuth/Applications/{id}/Restore": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Востановить приложение.",
        "operationId": "Application_Restore",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "OAuthApplicationManage"
        ]
      }
    },
    "/api/OAuth/Applications/{id}/Secret/Generate": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Генерирует новый секретный ключ приложения.",
        "operationId": "Application_GenerateSecret",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор приложения.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "OAuthApplicationManage"
        ]
      }
    },
    "/api/OAuth/Applications/{id}/Secret": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Получает секрет приложения по идентификатору.",
        "operationId": "Application_GetSecret",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор приложения.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfString"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "OAuthApplicationManage"
        ]
      }
    },
    "/api/OAuth/Applications/{applicationId}/Permissions": {
      "get": {
        "tags": [
          "ApplicationPermission"
        ],
        "summary": "Получить список разрешений приложения.",
        "operationId": "ApplicationPermission_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "Идентификатор приложения.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfListOfString"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "OAuthApplicationView"
        ]
      },
      "put": {
        "tags": [
          "ApplicationPermission"
        ],
        "operationId": "ApplicationPermission_ChangePermissions",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "permissionChanges",
            "in": "body",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "OAuthApplicationManage"
        ]
      }
    },
    "/api/Attributes": {
      "get": {
        "tags": [
          "Attribute"
        ],
        "summary": "Получить список всех атрибутов.",
        "operationId": "Attribute_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "С.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Сколько.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "name": "partnerId",
            "in": "query",
            "description": "Id партнера (для получения списка для акции).",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "nameSearch",
            "in": "query",
            "description": "Название атрибута.",
            "required": false,
            "type": "string"
          },
          {
            "name": "logicalName",
            "in": "query",
            "description": "Логическое имя.",
            "required": false,
            "type": "string"
          },
          {
            "name": "attributeType",
            "in": "query",
            "description": "Тип атрибута.",
            "required": false,
            "type": "string",
            "default": "PersonalOffer",
            "enum": [
              "Notifier",
              "Question",
              "PartnerInfo",
              "Common",
              "PersonalOffer"
            ],
            "x-loymax-type": "Loymax.Common.Portable.UserAttributeType, Loymax.Common.Portable",
            "x-loymax-enum-type": "UserAttributeType"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfPagedViewModelOfBaseUserAttributeViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "UserAttributeView",
          "UserAttributeRead"
        ]
      },
      "put": {
        "tags": [
          "Attribute"
        ],
        "summary": "Создание атрибута.",
        "operationId": "Attribute_Create",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "Данные для создания.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalOfferAttributeViewModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResultModelOfInt32"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "UserAttributeManage"
        ]
      }
    },
    "/api/Attributes/{id}": {
      "get": {
        "tags": [
          "Attribute"
        ],
        "summary": "Получить атрибут по идентификатору.",
        "operationId": "Attribute_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfBaseUserAttributeViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "UserAttributeView",
          "UserAttributeRead"
        ]
      },
      "post": {
        "tags": [
          "Attribute"
        ],
        "summary": "Обновление данных атрибута.",
        "operationId": "Attribute_Update",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "Данные для обновления.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalOfferAttributeViewModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "UserAttributeManage"
        ]
      }
    },
    "/api/deposit": {
      "get": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Получить историю операций с бонусами.",
        "operationId": "BatchOperations_GetOperationsHistory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Начальный элемент.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Количество элементов.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "name": "filter.fromDate",
            "in": "query",
            "description": "Начало периода.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.toDate",
            "in": "query",
            "description": "Конец периода.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.type",
            "in": "query",
            "description": "Тип операций.",
            "required": false,
            "type": "string",
            "enum": [
              "Withdraw",
              "Deposit"
            ],
            "x-loymax-type": "Loymax.Entities.BatchType, Loymax.Entities",
            "x-loymax-enum-type": "BatchType"
          },
          {
            "name": "filter.state",
            "in": "query",
            "description": "Состояние операции.",
            "required": false,
            "type": "string",
            "enum": [
              "NotProcessed",
              "Processed"
            ],
            "x-loymax-type": "Loymax.Entities.BatchState, Loymax.Entities",
            "x-loymax-enum-type": "BatchState"
          },
          {
            "name": "filter.cardNumber",
            "in": "query",
            "description": "Номер карты.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.loyaltyPrograms",
            "in": "query",
            "description": "Список программ лояльности.",
            "required": false,
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "type": "array"
          },
          {
            "name": "filter.marketingCampaigns",
            "in": "query",
            "description": "Список маркетинговых компаний.",
            "required": false,
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfPagedViewModelOfBatchOperationsBriefViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardDepositView"
        ]
      },
      "put": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Выполняет начисление или списание средств со счетов группы карт.",
        "operationId": "BatchOperations_Deposit",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "Данные по операциям.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchOperationsViewModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResultModelOfInt32"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardDeposit"
        ]
      }
    },
    "/api/deposit/{batchId}": {
      "get": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Получить список операций по ID пакета.",
        "operationId": "BatchOperations_GetBatch",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "ID пакетной операции.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfBatchOperationsViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardDepositView"
        ]
      }
    },
    "/api/deposit/{batchId}/operations": {
      "get": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Получить список операций по ID пакета.",
        "operationId": "BatchOperations_GetOperations",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "ID пакетной операции.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Начальный элемент.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Количество элементов.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 100
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfPagedViewModelOfOperationViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardDepositView"
        ]
      }
    },
    "/api/deposit/export": {
      "get": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Получает историю операций в виде csv-файла.",
        "operationId": "BatchOperations_GetHistoryCsv",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "timeZone",
            "in": "query",
            "description": "Часовой пояс.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.fromDate",
            "in": "query",
            "description": "Начало периода.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.toDate",
            "in": "query",
            "description": "Конец периода.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.type",
            "in": "query",
            "description": "Тип операций.",
            "required": false,
            "type": "string",
            "enum": [
              "Withdraw",
              "Deposit"
            ],
            "x-loymax-type": "Loymax.Entities.BatchType, Loymax.Entities",
            "x-loymax-enum-type": "BatchType"
          },
          {
            "name": "filter.state",
            "in": "query",
            "description": "Состояние операции.",
            "required": false,
            "type": "string",
            "enum": [
              "NotProcessed",
              "Processed"
            ],
            "x-loymax-type": "Loymax.Entities.BatchState, Loymax.Entities",
            "x-loymax-enum-type": "BatchState"
          },
          {
            "name": "filter.cardNumber",
            "in": "query",
            "description": "Номер карты.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.loyaltyPrograms",
            "in": "query",
            "description": "Список программ лояльности.",
            "required": false,
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "type": "array"
          },
          {
            "name": "filter.marketingCampaigns",
            "in": "query",
            "description": "Список маркетинговых компаний.",
            "required": false,
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardDepositView"
        ]
      }
    },
    "/api/deposit/devices": {
      "get": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Показывает доступные пользователю устройства(кассы) для операций начисления/списания.",
        "operationId": "BatchOperations_GetAvailableDevices",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "С какого.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Сколько.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 2147483647
          },
          {
            "name": "substring",
            "in": "query",
            "description": "Подстрока для поиска.",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Режим вывода по признаку удаления.",
            "required": false,
            "type": "string",
            "enum": [
              "Archived",
              "NonArchived"
            ],
            "x-loymax-type": "Loymax.Common.Model.ArchivedState, Loymax.Common",
            "x-loymax-enum-type": "ArchivedState"
          },
          {
            "name": "loyaltyProgramId",
            "in": "query",
            "description": "Ид программы лояльности.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfPagedViewModelOfDeviceBriefViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardDepositView"
        ]
      }
    },
    "/api/deposit/validateCsv": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Получить список номеров карт и соответствующих сумм для списания/начисления, извлеченных из CSV-файла.",
        "operationId": "BatchOperations_GetOperationsDataFromCsv",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file to upload",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfParsedBatchOperationsModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardDeposit"
        ]
      }
    },
    "/api/deposit/{batchId}/progress": {
      "get": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Получить информацию о фоновой обработке операций для группы операций.",
        "operationId": "BatchOperations_GetBatchOperationsQueueProgress",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "Id группы операций.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfBatchOperationsQueueInfo"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardDepositView"
        ]
      }
    },
    "/api/deposit/{batchId}/transactionProgress": {
      "get": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Получить информацию о фоновой обработке транзакций операций для группы операций.",
        "operationId": "BatchOperations_GetBatchOperationsTransactionQueueProgress",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "Id группы операций.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfBatchOperationsTransactionQueueInfo"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardDepositView"
        ]
      }
    },
    "/api/deposit/{batchId}/exportErrors": {
      "get": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Получить список ошибочных операций для группы операций в виде csv-файла.",
        "operationId": "BatchOperations_GetErrorOperationsCsv",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "Id группы операций.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardDepositView"
        ]
      }
    },
    "/api/emissions/booklets": {
      "get": {
        "tags": [
          "BookletEmission"
        ],
        "summary": "Получить список выпусков буклетов.",
        "operationId": "BookletEmission_GetCardEmissions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Начало выборки.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Количество.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfPagedViewModelOfBookletEmissionViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardEmissionView"
        ]
      },
      "put": {
        "tags": [
          "BookletEmission"
        ],
        "summary": "Создать выпуск буклетов.",
        "operationId": "BookletEmission_CreateCardEmission",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "emission",
            "in": "body",
            "description": "Модель выпуска.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookletEmissionViewModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResultModelOfInt32"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardEmissionManage"
        ]
      }
    },
    "/api/emissions/booklets/{id}": {
      "get": {
        "tags": [
          "BookletEmission"
        ],
        "summary": "Получить выпуск буклетов по id.",
        "operationId": "BookletEmission_GetBookletEmission",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id выпуска.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfBookletEmissionViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardEmissionView"
        ]
      }
    },
    "/api/emissions/booklets/{id}/export": {
      "get": {
        "tags": [
          "BookletEmission"
        ],
        "summary": "Получить выпуск в виде CSV файла.",
        "operationId": "BookletEmission_GetBookletEmissionCsv",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id выпуска буклетов.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardEmissionView"
        ]
      }
    },
    "/api/brands": {
      "get": {
        "tags": [
          "Brands"
        ],
        "summary": "Возвращает список всех брендов.",
        "operationId": "Brands_GetBrands",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "filter.state",
            "in": "query",
            "description": "Определяет, возвращать ли объекты с состоянием hidden.",
            "required": false,
            "type": "string",
            "enum": [
              "Normal",
              "Hidden"
            ],
            "x-loymax-type": "Loymax.Entities.BrandInfoState, Loymax.Entities",
            "x-loymax-enum-type": "BrandInfoState"
          },
          {
            "name": "filter.from",
            "in": "query",
            "description": "Начало выборки.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.count",
            "in": "query",
            "description": "Количество.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.substring",
            "in": "query",
            "description": "Подстрока для поиска.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.sortingIds",
            "in": "query",
            "description": "Идентификаторы брендов, которые будут выбираться первыми.",
            "required": false,
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfPagedViewModelOfBrandViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "BrandsView",
          "BrandsRead"
        ]
      },
      "put": {
        "tags": [
          "Brands"
        ],
        "summary": "Создает бренд.",
        "operationId": "Brands_CreateBrand",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "brandModel",
            "in": "body",
            "description": "Модель бренда.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BrandViewModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResultModelOfInt32"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "BrandsManage"
        ]
      }
    },
    "/api/brands/{id}": {
      "get": {
        "tags": [
          "Brands"
        ],
        "summary": "Получение описания бренда.",
        "operationId": "Brands_GetBrandInfo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор бренда.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfBrandViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "BrandsView"
        ]
      },
      "post": {
        "tags": [
          "Brands"
        ],
        "summary": "Редактирование бренда.",
        "operationId": "Brands_UpdateBrand",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор бренда.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "brandModel",
            "in": "body",
            "description": "Модель для редактирования бренда.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BrandViewModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "BrandsManage"
        ]
      },
      "delete": {
        "tags": [
          "Brands"
        ],
        "summary": "Удаляет бренд.",
        "operationId": "Brands_DeleteBrand",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id бренда.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "BrandsManage"
        ]
      }
    },
    "/api/brands/{brandId}/Images": {
      "get": {
        "tags": [
          "BrandsImages"
        ],
        "summary": "Получить список изображений для бренда.",
        "operationId": "BrandsImages_GetImages",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "Идентификатор бренда.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfListOfImageFileViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "BrandsView"
        ]
      },
      "put": {
        "tags": [
          "BrandsImages"
        ],
        "summary": "Создать изображение.",
        "operationId": "BrandsImages_AddImage",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "Идентификатор бренда.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "description": "Новое изображение.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewImageFileModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "BrandsManage"
        ]
      },
      "post": {
        "tags": [
          "BrandsImages"
        ],
        "summary": "Обновить изображение.",
        "operationId": "BrandsImages_EditImage",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "Идентификатор бренда.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "description": "Модель изображения.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdatedImageFileModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "BrandsManage"
        ]
      }
    },
    "/api/brands/{brandId}/Images/{imageId}": {
      "get": {
        "tags": [
          "BrandsImages"
        ],
        "summary": "Получить изображение.",
        "operationId": "BrandsImages_GetImage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "Идентификатор бренда.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "imageId",
            "in": "path",
            "description": "Идентификатор файла.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfImageFileViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "BrandsView"
        ]
      },
      "delete": {
        "tags": [
          "BrandsImages"
        ],
        "summary": "Удалить изображение.",
        "operationId": "BrandsImages_DeleteImage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "Идентификатор бренда.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "imageId",
            "in": "path",
            "description": "Идентификатор изображение.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "BrandsManage"
        ]
      }
    },
    "/api/Events": {
      "get": {
        "tags": [
          "BusinessEvents"
        ],
        "summary": "Возвращает список активностей.",
        "operationId": "BusinessEvents_GetBusinessEvents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "filter.from",
            "in": "query",
            "description": "С какого элемента брать.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.count",
            "in": "query",
            "description": "Сколько элементов брать.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.activityDateFrom",
            "in": "query",
            "description": "Дата создания с.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.activityDateTo",
            "in": "query",
            "description": "Дата создания по.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.personId",
            "in": "query",
            "description": "Идентификатор пользователя.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.purchaseId",
            "in": "query",
            "description": "Идентификатор покупки.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.contextType",
            "in": "query",
            "description": "Тип контекста.",
            "required": false,
            "type": "string",
            "enum": [
              "Unknown",
              "DeviceRequest",
              "ShowcasePurchase",
              "UserDateTimeEvent",
              "BonusLifeTimeEvent",
              "ChangeNotifier",
              "RegistrationEnd",
              "LinkCard",
              "ChangeCardState",
              "SmsRegistration",
              "QuestionnaireUpdate",
              "ExternalCardReplace",
              "PushDeviceRegistration",
              "SendPasswordToCheque",
              "PurchaseOperation",
              "SocialNetworkAction",
              "ManualPayOperation",
              "ReferralActivity",
              "UserDeregistration"
            ],
            "x-loymax-type": "Loymax.Entities.BusinessActivityContextType, Loymax.Entities",
            "x-loymax-enum-type": "BusinessActivityContextType"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfPagedViewModelOfBusinessActivityViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "BusinessEventsView",
          "EventCalculationsRead"
        ]
      }
    },
    "/api/Events/{eventType}/Variables": {
      "get": {
        "tags": [
          "BusinessEvents"
        ],
        "summary": "Возвращает список доступных переменных контекста.",
        "operationId": "BusinessEvents_GetAvailableVariables",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventType",
            "in": "path",
            "description": "Тип события.",
            "required": true,
            "type": "string",
            "enum": [
              "OnPurchaseCalculate",
              "OnAttachPhone",
              "OnPurchaseConfirm",
              "OnPurchasePayment",
              "OnBalanceRequest",
              "OnCardIssue",
              "OnCardActivation",
              "OnSocialActivity",
              "OnSocialGroupJoin",
              "OnFriendInvite",
              "OnSocialGroupLeave",
              "OnQuestionnaireUpdate",
              "OnMobileAppInstall",
              "OnEndPersonRegistration",
              "OnSocialNetworkLink",
              "OnBonusLifetimeExpired",
              "OnBirthday",
              "OnPurchaseRefund",
              "OnReferralPurchase",
              "OnPurchaseCancel",
              "OnRemoveSocialActivity",
              "OnPurchaseDiscount",
              "OnSendPasswordToCheque",
              "OnGoodsSetProcess",
              "OnAttachEmail",
              "OnBonusLifetimeActivation",
              "OnPurchasePaymentCalculate",
              "OnPurchasePaymentCancel",
              "OnCouponPurchased",
              "OnCouponRefunded",
              "OnPurchaseDeposit",
              "OnCardAttach",
              "OnCardReplace",
              "OnExternalCardReplace",
              "OnPurchaseRefundCalculate",
              "OnManualCharge",
              "OnManualWithdraw"
            ],
            "x-loymax-type": "Loymax.Entities.OfferEventType, Loymax.Entities",
            "x-loymax-enum-type": "OfferEventType"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfListOfString"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "OfferView"
        ]
      }
    },
    "/api/Calculators": {
      "get": {
        "tags": [
          "Calculator"
        ],
        "summary": "Получить все калькуляторы.",
        "operationId": "Calculator_GetAll",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "types",
            "in": "query",
            "description": "Тип.",
            "required": false,
            "items": {
              "type": "string",
              "enum": [
                "FilterPurchases",
                "PartnerPurchaseAmount",
                "DecimalQuestion",
                "CountGoodsByOfferChain"
              ],
              "x-loymax-type": "Loymax.Entities.RepositoryCalculatorType, Loymax.Entities",
              "x-loymax-enum-type": "RepositoryCalculatorType"
            },
            "collectionFormat": "multi",
            "type": "array",
            "x-loymax-enum-type": "RepositoryCalculatorType",
            "x-loymax-collection-type": "System.Collections.Generic.IEnumerable<RepositoryCalculatorType>",
            "x-loymax-property-collection-type": "System.Collections.Generic.List<RepositoryCalculatorType>"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModelOfListOfCalculatorViewModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "OfferView"
        ]
      }
    },
    "/api/CallCenter/BlockCard": {
      "post": {
        "tags": [
          "CallCenter"
        ],
        "summary": "Блокирует карту.",
        "operationId": "CallCenter_BlockCard",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "blockCardModel",
            "in": "body",
            "description": "Модель для блокировки карт.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlockCardModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardBlock"
        ]
      }
    },
    "/api/CallCenter/UnBlockCard": {
      "post": {
        "tags": [
          "CallCenter"
        ],
        "summary": "Разблокирует карту.",
        "operationId": "CallCenter_UnBlockCard",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "unBlockCardModel",
            "in": "body",
            "description": "Модель для разблокировки карты.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UnBlockCardModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "CardBlock"
        ]
      }
    },
    "/api/CallCenter/ChangePhone": {
      "post": {
        "tags": [
          "CallCenter"
        ],
        "summary": "Измененяет номера телефона.",
        "operationId": "CallCenter_ChangePhone",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "changePhoneModel",
            "in": "body",
            "description": "Модель для смены телефона.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangePhoneModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "PhoneChange"
        ]
      }
    },
    "/api/CallCenter/ChangeEmail": {
      "post": {
        "tags": [
          "CallCenter"
        ],
        "summary": "Измененяет модель Email.",
        "operationId": "CallCenter_ChangeEmail",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "changeEmailModel",
            "in": "body",
            "description": "Модель для смены email.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeEmailModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
        "x-permissions": [
          "EmailsChange"
        ]
      }
    },
    "/api/CallCenter/ReplaceCard": {
      "post": {
        "tags": [
          "CallCenter"
        ],
        "summary": "Заменяет карты.",
        "operationId": "CallCenter_ReplacePersonCard",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "replacePersonCardModel",
            "in": "body",
            "description": "Модель для замены карты клиента.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplacePersonCardModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultModel"
            }
          }
        },
        "security": [
          {
            "Authorization": [],
            "OAuth2Password": [],
            "OAuth2Code": [],
            "OAuth2ClientCredentials": []
          }
        ],
[...]
